.btn {
  border-radius: 5px;
  display: block;
  height: 40px;
  width: 80px;

  &.red {
    background: red;
  }

  &.green {
    background: green;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
