@function sum($value1: 10px, $value2: 20px) {
  $result: 0;
  @if type-of($value1) == number {
    $result: $value1 + $value2;
  } @else {
    @error "#{$value1}は数値ではありません";
  }
  @return $result;
}

.sum {
  width: sum("100px", 200px);
  width: sum();
}

@function average($values) {
  $sum: 0;

  @each $value in $values {
    $sum: $sum + $value;

    @debug $sum;
  }

  @return round($sum / length($values));
}

$list: 1, 7, 9, 25;

.ave {
  margin: average($list);
}
