extends ../extends/_layout.pug

block append config
  - var subTitle = 'About'
  - var Description = 'このページの概要を記述する'
  - var Keywords = 'このページのキーワードを記述する'
  - var currentUrl = 'about.html'

block append links
  link(rel="stylesheet", href=cssPath+"main.min.css")

block content
  div.wrapper
    h1 #{mainTitle}
    h2 #{subTitle}
    p: a(href="/index.html") back top page
