doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    title Udemy Sass Sample
  body
    main
      section
        h1 見出し
        p 段落
        ul
          li リスト
          li リスト
      section
        h1 見出し
        p 段落
        p.note 注意書き