doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    title Udemy Sass Sample
    link(href="/css/main.min.css", rel="stylesheet")
  body
    main#main
      section
        h1 見出し
        p.note 段落
        ul
          li リスト
          li リスト
      section
        h1 見出し
        p 段落
        p.note 注意書き