- var lang = 'ja'
- var mainTitle = 'メインタイトル'
- var pagesPath = '/pages/'
- var cssPath = '/css/'
- var jsPath = '/js/'
- var jQuery3 = false
- var Bootstrap4 = false
- var Googlefonts = false //'Noto+Sans+JP:wght@300;400;700&family=Roboto:wght@300;400;500;700'
- var FontAwesome = false